.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: rgba(240, 249, 255, 0.7); /* ปรับ opacity ที่ 0.7 หรือค่าอื่นตามต้องการ */
  backdrop-filter: blur(10px); /* เพิ่มความสวยงามด้วยการเบลอพื้นหลัง */
  transition: width 0.3s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.fixedSpacing {
  display: flex;
  flex-direction: column;
  gap: 4rem; /* Adjust this value as needed */
}

.sidebar.open {
  width: 220px;
  align-items: flex-start;
  padding-left: 10px;
}

.toggleButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
  cursor: pointer;
  color: #0369a1;
  background: #e0f2fe;
  padding: 0.5rem;
  border-radius: 8px;
  transition: background 0.2s;
}

.toggleButton:hover {
  background: #bae6fd;
}

.menuItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

.linkItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  color: #0369a1;
  font-size: 1.1rem;
  border-radius: 0.375rem;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.linkItem:hover {
  background-color: #bae6fd;
}

.icon {
  margin-right: 1rem;
  min-width: 50px;
}

.logoWrapper {
  margin-top: auto;
  margin-bottom: 1rem;
}

.logoimg {
  border-radius: 50%;
}
